$background-base: #21252b;
$background-highlight: #1c1f23;
$background-element: #1c1f23;

$accent-color: #61afef;
$accent-error: #e06c75;
$accent-warning: #d19a66;
$accent-success: #98c379;

$text-color: #abb2bf;
$text-secondary: #5c6370;
$text-muted: #5c6370;
$text-on-accent: #21252b;

$shadow-color: rgba(0, 0, 0, 0.6);
$corners-color: #000000;
